profiles {

    // Uppmax general profile
    uppmax {
        params{
            project         = <CHANGE here>
	        email           = <CHANGE here>
	        mailType        = 'END,FAIL'
			
        }
        process {


            withName: SORTMERNA {
                container = 'ruqse_rnaseqtools_sortmerna.sif'      
            }    
            withName: TRIMMOMATIC {
                container = 'trimmomatic-0.39.sif'        
            }
            withName: SALMON_INDEX {
                container = 'salmon-1.9.0.sif'         
            }    
            withName: SALMON_QUANTIFICATION {
                container = 'salmon-1.9.0.sif'         
            }  
            withName:FASTQC {
                container = 'fastqc-0.11.9.sif'       
            }  
            withName: MULTIQC {
                container = 'multiqc-v1.13.sif'
            }


            executor       = 'slurm'
            clusterOptions = "-A '${params.project}' --mail-type '${params.mailType}' --mail-user '${params.email}'"
	    memory         = { 20.GB * task.attempt }
            cpus           = { 15 * task.attempt }
            time           = { 3.h * task.attempt }
            scratch        = '$SNIC_TMP'
            errorStrategy  =   { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
            maxRetries    = 2
            maxErrors     = '-1'
//          
        }
		singularity {
				enabled = true
				autoMounts = true
                cacheDir = <PATH_TO singularity-images/>
			}
    }
}
